<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DBCS" connectionString="Data Source=KONAKALLASAMUEL;Initial Catalog=Testing;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<services>
			
			<service name="ClassLibrary1.HelloSVC" behaviorConfiguration="mexBehaviour">
				<endpoint address="HelloSVC" binding="basicHttpBinding" contract="ClassLibrary1.IHelloSVC">
				</endpoint>
				<endpoint address="HelloSVC" binding="netTcpBinding" contract="ClassLibrary1.IHelloSVC">
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080/" />
						<add baseAddress="net.tcp://localhost:8090/" />
					</baseAddresses>
				</host>
			</service>
			
			<service name="ClassLibrary1.HelloSVCpubPrivate" behaviorConfiguration="mexBehaviour2">
				<endpoint address="HelloSVCpubPrivate" binding="basicHttpBinding" contract="ClassLibrary1.IHellopublicSVC">
				</endpoint>
				<endpoint address="HelloSVCpubPrivate" binding="netTcpBinding" contract="ClassLibrary1.IHelloPrivateSVC">
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8050/" />
						<add baseAddress="net.tcp://localhost:8070/" />
					</baseAddresses>
				</host>

			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehaviour">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
				<behavior name="mexBehaviour2">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>